.profile-card {
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
}

h2 {
    margin: 0 0 15px 0; 

}

button {
    border: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.bth { 
    background-color: rgb(186, 222, 133);
    
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-success {
    background-color: #28a745 !important;
}



@media (min-width: 768px) {
    body {
        background-color: #e0f7fa;
    }

    .profile-card { 
        width: 450px; 
    }
}
